@import "../../styles";

.caption-root {
  color: $color-default;
}

.box {
  margin: 8px;
  text-align: justify;
}

.bottom-line {
  display: flex;
  justify-content: center;
  background: none !important;
  align-items: center;
  box-shadow: none !important;
  padding: 16px 0;
}