@import "../../styles";

.react-swipeable-views {
  height: inherit;
}

.react-swipeable-view-container {
  align-items: center;
  height: inherit;
  & > div {
    overflow: unset !important;
  }
}

.statistic-selector {
  max-width: 400px;
  padding: 0 8px;
  min-width: 250px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chip-root {
  background: $app-background;

  > svg {
    background: none !important;
  }
}

.card-button {
  margin-left: auto !important;
  background: $app-background;
}

.statistic-selector-container {
  padding: 0 16px;
  justify-content: center;
  margin: auto;
  height: 280px;
}

.skeleton-container {
  display: flex;
  margin: auto;
  height: 280px;
  align-items: center;
  flex-direction: column;
}

.skeleton-dots-flex {
  display: flex;
  justify-content: center;
  height: inherit;
  width: inherit;
  margin-top: 16px;
}

.skeleton-rect {
  margin: 16px 24px;
  flex-shrink: 0;
  justify-content: center;
  height: 195px !important;
  width: 380px;
}

.skeleton-dot {
  margin: 0 2px;
  flex-shrink: 0;
  width: 8px !important;
  height: 8px !important;
}