.svg-map {
  width: 100%;
}

.svg-wrapper {
  width: 100%;
  position: relative;
  @media (max-width: 600px) {
    max-height: calc(100vh - (52px + 128px));
  }
  max-height: calc(100vh - (117px + 128px));
}