.skeleton-container {
  display: flex;
  margin: auto;
  height: 280px;
  align-items: center;
  flex-direction: column;
}

.skeleton-dots-flex {
  display: flex;
  justify-content: center;
  height: inherit;
  width: inherit;
}

.skeleton-rect {
  margin: 16px 24px;
  flex-shrink: 0;
  justify-content: center;
  height: 195px;
  width: 320px;
}

.skeleton-dot {
  margin: 0 2px;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
}