.app-preview-content {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  height: 386px;
  width: 178px;
  margin: 13px;
}

.login-image-panel {
  align-self: center;
  background-image: url('../../assets/device-frame.png');
  background-repeat: no-repeat;
  width: 204px;
  background-position: center;
  background-size: 204px 412px;
  height: 412px;
  position: relative;
}

.device-frame-shadow {
  width: 165px;
  box-shadow: 0px 0px 10px 3px #111;
  position: absolute;
  top: 415px;
  left: 20px;
  content: '';
}

.article-panel {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: .65;
  -webkit-flex-grow: .65;
  -ms-flex-positive: .65;
  flex-grow: .75;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 935px;
  width: 100%;
}

.image-panel {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-self: center;
  padding-bottom: 40px;
}

.email-verification-container {
  text-align: center;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
