.app-preview-content {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 21px;
  height: 426px;
  width: 196px;
}

.login-image-panel {
  align-self: center;
  background-image: url('../../assets/device-frame.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-flex-basis: 454px;
  flex-basis: 454px;
  width: 224px;
}

.device-frame {
  position: relative;
  margin: 14px 15px;
}