.device-frame {
  position: absolute;
  left: -20px;
  bottom: -18px;
}

.app-preview-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 21px;
  height: 468px;
  width: 215px;
  display: block;
  margin: auto;
  border: 2px solid white;
}