@import "../../styles";

.swipeable-cards-container {
  padding: 0 16px;
  justify-content: center;
  margin: 0 auto;
}

.react-swipeable-views {
  height: 250px;
}

.react-swipeable-view-container {
  align-items: center;
  height: inherit;
  & > div {
    overflow: unset !important;
  }
}

.statistic-selector {
  max-width: 400px;
  padding: 0 8px;
  min-width: 250px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mobile-stepper {
  background: unset;
}