.content {
  height: 100%;
  width: 100%;
  transition: left 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  position: relative;
  left: 0;
}

.content-shift {
  left: -240px !important;
}

.visualization-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.image {
  width: 100%;
  margin-right: auto;
}