@import "../../styles";

.bottom-nav {
  bottom: 0;
  left: auto;
  right: 0;
  width: 100%;
  z-index: 9999;
  position: sticky;
}

.bottom-nav-item {
  max-width: unset !important;
  display: flex;
  > .MuiBottomNavigationAction-wrapper {
    flex-direction: row;
     > svg {
      margin-right: 8px;
     }
  }
}
