$font-format: Montserrat, sans-serif;
$app-primary: rgba(62, 175, 255, 1);
$app-background: linear-gradient(90deg, rgba(75, 225, 255, 1) 35%, rgba(62, 175, 255, 1) 100%);
$breakpoint-xs: 600px;
$drawer-width: 240px;

@media (prefers-color-scheme: dark) {
  $app-primary: rgb(75, 225, 255);
}

html, body, #root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: $font-format;
}

.edu-header-h6 {
  padding: 8px 0;
  font-size: 1.1875rem;
  font-weight: 300 !important;
}

.primary-button {
  background: $app-background;
}

.navigation {
  margin-left: 0;
  transition: 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, box-shadow 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.navigation-shift {
  margin-left: calc(-1 * #{$drawer-width});
  transition: margin 225ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.pulse-effect-primary {
  animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 15px rgba(52, 172, 224, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}

.content-panel {
  height: 100%;
  width: 100%;
  transition: left 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  position: relative;
  left: 0;
}

.content-shift-panel {
  left: -240px !important;
}

.d-flex {
  display: flex;
}

.p-1 {
  padding: 8px;
}

.float-left {
  margin-left: auto !important;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-flex-end {
  align-items: flex-end;
}