$color-primary: cadetblue;
$color-default: rgba(0, 0, 0, 0.65);
$font-format: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";

html, body, #root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  color: $color-default;
  font-family: $font-format;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
