@import "../../styles";

.home-box {
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.unesco-logo {
  margin: 16px auto 0;
}

.bottom-line {
  display: flex;
  justify-content: center;
  background: none;
  align-items: center;
  box-shadow: none;
  padding: 16px 0;
}