@import "../../styles";

.box {
  padding: 8px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.graphic {
  margin: 16px auto 0;
}

.bottom-line {
  display: flex;
  justify-content: center;
  background: none !important;
  align-items: center;
  box-shadow: none !important;
  padding: 16px 0;
}