@import "../../styles";

.tabs {
  width: 100%;
}

.Mui-selected {
  color: $app-primary;
}

.tab {
  min-width: 0;
  ~ :hover {
  color: $app-primary;
}
  font-size: 1rem;
  font-weight: 300;
}

.indicator {
  width: 0;
  height: 0;
}