@import "../../styles";
.tabs {
  width: 100%;
}

.Mui-selected {
  color: $app-primary !important;
}

.tab {
  min-height: 53px;
  min-width: 0;
  > span {
  flex-direction: row;
     > div {
    margin-right: 8px;
  }
  }
  ~ :hover {
  color: $app-primary;
}
}

.indicator {
  width: 0 !important;
  height: 0 !important;
}

.chip {
  height: 20px !important;
  font-size: 0.5rem !important;
}