@import "../../styles";
.tabs {
  width: 100%;
}

.Mui-selected {
  color: $app-primary !important;
}

.tab {
  min-height: 53px;
  min-width: 0;
  ~ :hover {
  color: $app-primary;
}
}

.indicator {
  width: 8px !important;
  height: 8px !important;
  bottom: 4px !important;
  border-radius: 50% !important;
  transform: translateX(calc(25vw - 8px));
}