.leaflet-container {
  @media (max-width: 600px) {
    height: calc(100vh - (52px + 128px));
  }
  height: calc(100vh - (105px + 128px));
  width: 100%;
  font: inherit;
}

.map-content-wrapper {
  position: relative;
}