@import "../home/home";

.text-box {
  padding: 8px;
  text-align: justify;
}

.select {
  margin: 16px 8px !important;
  width: 45% !important;
  max-width: 45% !important;
  background: none !important;
}

