@import "../../styles";

.stepper {
  position: sticky;
  z-index: 3;
  height: 128px;
  top: 157px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $breakpoint-xs) {
    top: 52px;
  }
}

.step-description {
  text-align: center;
  padding: 16px 8px 0 8px;
}

.step-navigation-buttons {
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 8px 0;
}

.button:not(:last-of-type) {
  margin-right: 8px !important;
}