.ad-paper {
  margin-top: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: transparent !important;
  box-shadow: none !important;
}

.card-header {
  flex-direction: row-reverse;
  padding: 0 8px !important;
  > div {
    margin: 0;
  }
}

.card-media {
  min-height: 200px;
}

.adsense {
  display: block;
  width: 100%;
}